.home-container{
   background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../../Assets/homeBg.jpg);
   height: 60vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--text-white);
}

.error-container{
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../../Assets/homeBg.jpg);
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--text-white);
}

.user-count{
   background-image:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ),url(../../Assets/secondBg.jpg);
   height: 60vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   object-fit: cover;
}

.text{
   color: var(--text-orange);
}