.course-cotainer{
   background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../../Assets/courseBg.jpg);
   height: 60vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--text-white);
}